{%extends 'news/base.html'%}
{% load static %}

{% block title %}Xorij xabarlar{%  endblock title   %}

{%block content%}
    
{%for news in xorij_yangiliklar%}
             <ul class="spost_nav" >

                  <li>
                    <div class="media wow fadeInDown"> <a href="{{news.get_absolute_url}}" class="media-left"> <img alt="" src='{{news.image.url}}' style="width:200px; height:150px;"> </a>
                      <div class="media-body"> <a href="{{news.get_absolute_url}}" class="catg_title"> <h3>{{ news.title}}</h3></a> </div>

                    </div>
                  </li>

                </ul>
        {%endfor%}

{%endblock content%}